body {
  background-color: #065f46;
  text-align: center;
}
h1 {
    text-align: center;
    font-family: Changa One;
    font-size: 90px;
    font-style: Regular;
    color: white;
    margin-bottom: 10px;
}
img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  border-radius: 20px;
  padding: 10px 12px;
  width: 950px;
  height: auto;
}
.description p {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: Semibold;
  text-align: justify;
  display: block;
  margin: auto;
  width: 50%;
  color: #86EFAC;
}
.mentionlegal {
  text-align: center;
  color: #D1FAE5;
}