body {
  margin: 0;
}
.top {
        background: linear-gradient(#065F46 ,#065F46, #112A0F); /*Dégrader du head*/
        padding-bottom: 20px;/*Saut de ligne (espacement)*/
}
.top h1 {
  font-family: Changa One; /* police */
  font-style: regular; /* style de police */
  font-size: 64px; /* taille de police */
  text-align: center;
  color: white; /* la coleur */
  margin-top: 20px;       /* petit espace au-dessus si tu veux */
  margin-bottom: 20px;    /* espace propre sous le titre */
}
.middle {
    background-color: #112A0F;
    padding-bottom: 50px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start; 
}
.middle img {
  display: block;       
  margin: 0 auto;       
  background: transparent;
  border-radius: 20px;
  padding: 10px 12px;
  width: 950px;
}
.description p {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: Semibold;

  text-align: left;
  display: block;
  width: 950px; 
  color: #86EFAC;

  margin: auto;
  margin-top: 10px;
  margin-left: auto; 
  margin-right: auto;
}
.mentionlegal {
  text-align: center;
  color: #D1FAE5;
}