/*Style général page WEB*/
    body{
        margin: 0px;
}

/*HEAD*/
    /*Permet dégrader head*/
        .top {
        background: linear-gradient(#065F46 ,#065F46, #112A0F); /*Dégrader du head*/
        padding-bottom: 50px;/*Saut de ligne (espacement)*/
        height: 100%;
    }

    /*Texte*/
        /*Mise en forme titre*/
            .NomSite {
                font-family: "Changa One"; /*Police d'écriture*/
                font-size: 90px; 
                font-weight: 300; /*Taille des traits de la lettre*/
                color: #FFFFFF;
                padding: 15px;
                display: block; /*Définie comment agit les éléments*/
                margin: auto; /*Définie le millieu de tout les éléments réunis (permet centrer)*/
                text-align: center; /*Centre le texte*/
                width: 80%; /*Permet de définir la taille max sur écrant*/
        }        

        /*Mise en forme Sous-Titre*/
            .SousTitrePresentation {
                font-family: "Quicksand"; /*Police d'écriture*/
                font-size: 25px;
                font-weight: Regular; /*Taille des traits de la lettre*/
                color: #D1FAE5;
                padding: 5px;
                display: block; /*Définie comment agit les éléments*/
                margin: auto; /*Définie le millieu de tout les éléments réunis (permet centrer)*/
                text-align: center; /*Centre le texte*/
                width: 80%; /*Permet de définir la taille max sur écrant*/
}

/*Footer*/
    /*Fond du footer*/
    .footer{
        background : linear-gradient(#112A0F, #065F46, #065F46);
        padding-top: 80px;
        height: 100%;
    }

    /*Mise en forme global des LINK*/
    .lien{
        display: flex; /*Définie comment agit les éléments*/
        justify-content: space-evenly;
        margin: auto; /*Définie le millieu de tout les éléments réunis (permet centrer)*/
        text-align:center; /*Centre le texte*/
    }

    /*Mise en forme de chaque LINK*/
    .Link{
        font-family: "Exo 2";
        color: #D1FAE5;
        text-decoration: none;
        display: inline-block;
        position: relative;
        transform: all 300ms;
        padding-bottom: 30px;

        animation: all 300ms;
    }

    /*Sytle des lien en survole*/
    .Link:hover{
        text-shadow: 0 0 5px #b2fcd6;
        color: #D1FAE5;
    }

    /*Sytle des lien en survole*/
    .Link:active{
        color: #61c893;
        transform: translateY(1px);
    }

    /*Style général des logos*/
    .imageLien{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    /*Style spécific des logos*/
    .LogoGit{
        width: 50px;
    }

    .LogoFigma{
        width: 40px ;
        height: 50px;
    }
    .LogoAgora{
        width: 70px;
        transform: translateY(+50%);
    }

    /*Style logo survol*/
    .IconFooter:active{
        transform: translateY(1px);
}