body {
  background-color: #0B2418;
  text-align: center;
}
.titre h1 {
  font-family: Changa One;
  font-size: 36px;
  font-weight: Regular;
  display: flex;
  margin: auto;
  width: 50%;
  margin-bottom: 12px;
  margin-top: 20px;
  color: hsl(142, 17%, 91%);
  text-align: start;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.titre img {
  display: inline-flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  border-radius: 20px;
  padding: 10px 12px;
  width: 950px;
  height: auto;
}
.description h2 {
  font-family: Quicksand;
  font-size: 36px;
  font-weight: Semibold;
  display: block;
  margin: auto;
  width: 50%;
  color: #86EFAC;
  text-align: left;
  cursor: pointer;
}
.description p {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: Semibold;
  text-align: justify;
  display: block;
  margin: auto;
  width: 50%;
  color: #86EFAC;
}
.voter button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  background-color: #065F46;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 50px;
  justify-content: center;
}
.voter img {
  width: 28px; 
  height: auto;
  filter: brightness(0) invert(1);
  justify-content: right;
}
.voter p {
  font-family: Quicksand;
  font-size: 20px;
  font-weight: Semibold;
  display: block;
  margin: auto;
  width: 50%;
  color: #86EFAC;
}